<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>win-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,80}</string>
                <key>spriteSourceSize</key>
                <string>{161,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{161,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,79}</string>
                <key>spriteSourceSize</key>
                <string>{160,79}</string>
                <key>textureRect</key>
                <string>{{0,80},{160,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,83}</string>
                <key>spriteSourceSize</key>
                <string>{157,83}</string>
                <key>textureRect</key>
                <string>{{0,830},{157,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,83}</string>
                <key>spriteSourceSize</key>
                <string>{158,83}</string>
                <key>textureRect</key>
                <string>{{0,159},{158,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,83}</string>
                <key>spriteSourceSize</key>
                <string>{160,83}</string>
                <key>textureRect</key>
                <string>{{0,242},{160,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,83}</string>
                <key>spriteSourceSize</key>
                <string>{162,83}</string>
                <key>textureRect</key>
                <string>{{0,325},{162,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,83}</string>
                <key>spriteSourceSize</key>
                <string>{163,83}</string>
                <key>textureRect</key>
                <string>{{0,408},{163,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,84}</string>
                <key>spriteSourceSize</key>
                <string>{160,84}</string>
                <key>textureRect</key>
                <string>{{0,491},{160,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,83}</string>
                <key>spriteSourceSize</key>
                <string>{161,83}</string>
                <key>textureRect</key>
                <string>{{0,575},{161,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,86}</string>
                <key>spriteSourceSize</key>
                <string>{152,86}</string>
                <key>textureRect</key>
                <string>{{0,658},{152,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,86}</string>
                <key>spriteSourceSize</key>
                <string>{154,86}</string>
                <key>textureRect</key>
                <string>{{0,744},{154,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>win-sheet.png</string>
            <key>size</key>
            <string>{163,913}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f96fe0bd5672c76b98225bb88097aac0:b485c86bc8899d9c542f16c41829b30c:a958498f20f8d4fefba997317590bd42$</string>
            <key>textureFileName</key>
            <string>win-sheet.png</string>
        </dict>
    </dict>
</plist>
