<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fail-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,80}</string>
                <key>spriteSourceSize</key>
                <string>{161,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{161,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,79}</string>
                <key>spriteSourceSize</key>
                <string>{160,79}</string>
                <key>textureRect</key>
                <string>{{0,80},{160,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,83}</string>
                <key>spriteSourceSize</key>
                <string>{157,83}</string>
                <key>textureRect</key>
                <string>{{0,830},{157,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,83}</string>
                <key>spriteSourceSize</key>
                <string>{158,83}</string>
                <key>textureRect</key>
                <string>{{0,159},{158,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,82}</string>
                <key>textureRect</key>
                <string>{{0,242},{160,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,83}</string>
                <key>spriteSourceSize</key>
                <string>{162,83}</string>
                <key>textureRect</key>
                <string>{{0,324},{162,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,83}</string>
                <key>spriteSourceSize</key>
                <string>{163,83}</string>
                <key>textureRect</key>
                <string>{{0,407},{163,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,84}</string>
                <key>spriteSourceSize</key>
                <string>{161,84}</string>
                <key>textureRect</key>
                <string>{{0,490},{161,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,83}</string>
                <key>spriteSourceSize</key>
                <string>{161,83}</string>
                <key>textureRect</key>
                <string>{{0,574},{161,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,87}</string>
                <key>spriteSourceSize</key>
                <string>{152,87}</string>
                <key>textureRect</key>
                <string>{{0,657},{152,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,86}</string>
                <key>spriteSourceSize</key>
                <string>{154,86}</string>
                <key>textureRect</key>
                <string>{{0,744},{154,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fail-sheet.png</string>
            <key>size</key>
            <string>{163,913}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc7922f5ebe171c56e553c81e54d3021:2df6227623cf75236aacaff433fce93f:55836b682df8dec039a1d63ee0afe2c9$</string>
            <key>textureFileName</key>
            <string>fail-sheet.png</string>
        </dict>
    </dict>
</plist>
