<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card10C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{0,1124},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card10D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{198,1124},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card10H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{396,1124},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card10S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{594,1124},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card11C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{792,1124},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card11D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{990,1124},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card11H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{1188,1124},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card11S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{1386,1124},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card12C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{1584,1124},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card12D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{0,1405},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card12H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{198,1405},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card12S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{396,1405},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card13C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{594,1405},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card13D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{792,1405},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card13H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{990,1405},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card13S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{1188,1405},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card1C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{0,0},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card1D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{198,0},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card1H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{396,0},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card1S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{594,0},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{792,0},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{990,0},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{1188,0},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{1386,0},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card3C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{1584,0},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card3D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{0,281},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card3H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{198,281},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card3S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{396,281},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card4C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{594,281},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card4D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{792,281},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card4H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{990,281},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card4S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{1188,281},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card5C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{1386,281},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card5D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{1584,281},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card5H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{0,562},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card5S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{198,562},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card6C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{396,562},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card6D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{594,562},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card6H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{792,562},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card6S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{990,562},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card7C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{1188,562},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card7D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{1386,562},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card7H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{1584,562},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card7S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{0,843},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card8C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{198,843},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card8D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{396,843},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card8H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{594,843},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card8S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{792,843},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card9C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{990,843},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card9D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{1188,843},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card9H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{1386,843},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card9S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,281}</string>
                <key>spriteSourceSize</key>
                <string>{198,281}</string>
                <key>textureRect</key>
                <string>{{1584,843},{198,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cardSheet.png</string>
            <key>size</key>
            <string>{1782,1686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac4283e267b93a96cca1601227ec7583:3b2cf1713a6334960e25c9a38dac8bd4:7329362e13d7e46351f7f5647d8ac9ae$</string>
            <key>textureFileName</key>
            <string>cardSheet.png</string>
        </dict>
    </dict>
</plist>
