<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card10C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,1368},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card10D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,1368},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card10H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,1444},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card10S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,1444},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card11C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,1520},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card11D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,1520},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card11H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,1596},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card11S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,1596},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card12C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,1672},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card12D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,1672},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card12H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,1748},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card12S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,1748},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card13C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,1824},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card13D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,1824},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card13H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,1900},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card13S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,1900},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card1C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card1D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,0},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card1H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,76},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card1S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,76},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,152},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,152},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,228},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,228},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card3C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,304},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card3D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,304},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card3H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,380},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card3S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,380},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card4C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,456},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card4D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,456},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card4H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,532},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card4S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,532},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card5C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,608},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card5D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,608},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card5H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,684},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card5S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,684},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card6C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,760},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card6D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,760},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card6H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,836},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card6S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,836},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card7C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,912},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card7D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,912},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card7H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,988},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card7S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,988},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card8C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,1064},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card8D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,1064},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card8H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,1140},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card8S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,1140},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card9C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,1216},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card9D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,1216},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card9H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,1292},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card9S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{57,1292},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cardSheet.png</string>
            <key>size</key>
            <string>{114,1976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61ed6268abb0b0fe8c8e3324b072d7b8:8fb861e49e82139e6d62674343c70603:7329362e13d7e46351f7f5647d8ac9ae$</string>
            <key>textureFileName</key>
            <string>cardSheet.png</string>
        </dict>
    </dict>
</plist>
